body{
  margin: 0;
}
#title{
  background-color: #d7fffd;
  color: #FFA34D;
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding: 3% 15%;
}
h1{
  color: #216353;
  font-size: 6rem;
  font-family: 'Pacifico', cursive;
  text-align: center;
}
h2{
  font-size: 2rem;
  color: #FFA34D;
  text-align: center;
}
h3{
  text-align: center;
}
.main1{
  padding-top: 7rem;
  font-size: 5.5rem;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}
.main2{
  padding-top: 20px;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;

  text-align: center;
}
.womanimg{
  width: 120%;


}
.faviconimg{
  max-width: 90%;
  height : auto;

}

/* navigation bar */
.navbar{
  color: #FFA34D;
}

.nav-link{
  font-size: 1.2rem;
  color: #FFA34D;
}

.navbar-brand{
  font-size: 2.5rem;
}
.navbar-item{
  padding: 0 28px;
}
.navbar-toggler{
  background-color: transparent;
  border: 1px solid #216353;
}
/* About me */
#features{
  padding: 7% 15% 0;
}
.hello{
  text-align: center;
}
.feature-box{
  text-align: center;
  padding: 0 5% 5% 5%;
}
.programmer-img{
  width: 25%;
}
.design-img{
  width: 25%;
}
p{
  color: black;
  font-size: 20px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 30%;
}
.skills{
  text-align: center;
  padding: 7% 15%;
}
.skillh3{
  padding-top: 2rem;
}

.contact-me{
  padding: 10px 15%;
  text-align: center;
}

.contact {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;

	text-shadow:0px 1px 0px #3d768a;
}.contact:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}.contact:active {
	position:relative;
	top:1px;
}
.bottom-container{
  background-color: #d7fffd;
  padding: 3% 15% 2%;
  text-decoration: none;
  text-align: center;
  margin: 0px;

}
.footer-link{
  padding: 10px 30px;
  color: #FFA34D;
  font-size: 1.5rem;

}
.copyright{
  padding-top: 20px;
}
